/* CSS Reset
---------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
audio { display: none; }

/* Fonts
---------------------------------------------------- */
@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('fonts/League_Gothic-webfont.eot');
    src: url('fonts/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/League_Gothic-webfont.woff') format('woff'),
         url('fonts/League_Gothic-webfont.ttf') format('truetype'),
         url('fonts/League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Everything else
---------------------------------------------------- */
body {
	background:#171717 url('../images/bg-pattern.jpg') repeat;
  font-family: 'LeagueGothicRegular', 'League Gothic', sans-serif;
  color: #b9bec5;
  font-size: 21px;
  line-height: 24px;
  overflow-x: hidden;
}

button { outline: none; border: none; }

#bg-image {
  background: url('../images/bg-image.jpg') 11px -19px no-repeat;
  width:1445px;
  height: 616px;
  margin: 0 auto;
  margin-left: -723px;
  position: absolute;
  top: 0px;
  left: 50%;
  z-index: -1;
}

#instructions {
  height: 62px;
  width: 326px;
  padding: 22px 35px;
  background: url('../images/instructions-bg.png') no-repeat;
  float: left;
  margin-bottom: 10px;
}

#settings {
  width: 140px;
  height: 72px;
  background: url('../images/settings-bg.png') no-repeat;
  float: right;
  padding: 25px 10px 0;
}

#settings .checkbox {
  height: 32px;
  width: 32px;
  background: url('../images/checkbox.png') -10px -10px no-repeat;
  margin: 0 5px;
  position: relative;
  bottom: 14px;
  cursor: pointer;
}

#settings .checkbox.checked {
  background: url('../images/checkbox.png') -48px -10px no-repeat;
}


.clear { clear: both; }

#wrap {
	width: 652px;
	margin: 0 auto;
}

#logo {
  background: url('../images/logo.png');
  width: 477px;
  height: 98px;
  margin: 20px auto;
  margin-bottom: 20px;
  display: block;
}

h1 {
  font-size: 25px;
  font-weight:bold;
  text-align: center;
  margin: 0 0 10px;
}

.section {
  background: url('../images/group-bg.png');
  height: 230px;
  width: 653px;
  margin-bottom: 10px;
}

.button {
  background: url('../images/timer-bg.png');
  margin: 0 3% 3% 0;
  margin: 30px 23px 45px;
  height: 170px;
  width: 170px;
  float: left;
  cursor: pointer;

  -webkit-transition: background 0.1s, color 0.1s;
  -moz-transition: background 0.1s, color 0.1s;
  -o-transition: background 0.1s, color 0.1s;
  -ms-transition: background 0.1s, color 0.1s;
  transition: background 0.1s, color 0.1s;
}

.button input {
  border: none;
  background: none;
  color: white;
  font-size: 60px;
  font-weight: 800;
  text-align: center;
  text-shadow: 2px 3px 3px rgba(0,0,0,0.6);
  margin: 45px 0 0 15px;
  outline: none;
  width: 140px;
}

.going { background: url('../images/timer-active-bg.png'); }
.going input { color: #38680c; }

.almost {
  background: url('../images/timer-almost-bg.png');

  -webkit-animation: almost-flash .7s ease-in-out .7s infinite alternate;
  -moz-animation: almost-flash .7s ease-in-out .7s infinite alternate;
  -ms-animation: almost-flash .7s ease-in-out .7s infinite alternate;
  -o-animation: almost-flash .7s ease-in-out .7s infinite alternate;
  animation: almost-flash .7s ease-in-out .7s infinite alternate;
}
.almost input { color: #dd1c1c; }

.final {
  -webkit-animation: almost-flash .3s ease-in-out .3s infinite alternate;
  -moz-animation: almost-flash .3s ease-in-out .3s infinite alternate;
  -ms-animation: almost-flash .3s ease-in-out .3s infinite alternate;
  -o-animation: almost-flash .3s ease-in-out .3s infinite alternate;
  animation: almost-flash .3s ease-in-out .3s infinite alternate;
}

#footer-credit {
  background: url('../images/footer-credit.png');
  display: block;
  clear:both;
  margin: 30px auto;
  width: 147px;
  height: 55px;
}


/* Animation Stuff
---------------------------------------------------- */
@keyframes "almost-flash" {
 from {
    background: url('../images/timer-almost-bg.png');
    color: #dd1c1c;
 }
 to {
    background: url('../images/timer-almost-dark-bg.png');
    color: #811212;
 }
}

@-moz-keyframes almost-flash {
 from {
   background: url('../images/timer-almost-bg.png');
   color: #dd1c1c;
 }
 to {
   background: url('../images/timer-almost-dark-bg.png');
   color: #811212;
 }
}

@-webkit-keyframes "almost-flash" {
 from {
   background: url('../images/timer-almost-bg.png');
   color: #dd1c1c;
 }
 to {
   background: url('../images/timer-almost-dark-bg.png');
   color: #811212;
 }
}

@-ms-keyframes "almost-flash" {
 from {
   background: url('../images/timer-almost-bg.png');
   color: #dd1c1c;
 }
 to {
   background: url('../images/timer-almost-dark-bg.png');
   color: #811212;
 }
}

@-o-keyframes "almost-flash" {
 from {
   background: url('../images/timer-almost-bg.png');
   color: #dd1c1c;
 }
 to {
   background: url('../images/timer-almost-dark-bg.png');
   color: #811212;
 }
}
